body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color:orange;
  color: #333;
}

div{
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  color: black;
  text-align: center;
  font-size: 50px;
  padding: 20px;
  text-shadow: 1px 1px 1px black;
}

.Searchbar {
  display: block;
  justify-items: right;
  font-size: 15px;
  text-shadow: 0px;
  width: 140px;
  padding-right:40px;
  
}
img{
  display:block;
  margin: auto;
  border: 5px solid black;
  border-radius: 4px
}

section {
  padding: 20px;
  margin: 10px auto;
  max-width: 1800px;
  background: orange;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: white;
  margin-top: 20px;
}
